################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Vk.Clear/v15/Server/sqlite3/storage.ide-wal
/.vs/Vk.Clear/v15/Server/sqlite3/storage.ide-shm
/.vs/Vk.Clear/v15/Server/sqlite3/storage.ide
/.vs/Vk.Clear/v15/Server/sqlite3/db.lock
